@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
  }

html, body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(172, 228, 238);
    text-align: center;
}

h1 {
    color: rgb(179, 131, 226); 
    font-size: 4rem;
    text-align: center;
    opacity: 0.8;
    text-transform: uppercase;
  }
  

.container {
    width: 360px;
}

#inputField {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

#addToDo {
    height: 50px;
    width: 50px;
    color: rgb(179, 131, 226); ;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.to-dos {
    margin-top: 25px;
}

/* image */
img {
    border-radius: 50%;
    width: 220px;
    height: 200px;
  }

